proposal/*
!proposal/*.bib
!proposal/*.tex
report/*
!report/report.tex
!report/*.bib
!report/screens
!report/database.pdf
presentation/*
!presentation/*.tex
!presentation/media
peer-reviews/review_1.html
*.swp
*.pyc
*.directory
